@font-face  {
    font-family: Anurati Pro;
    src: url(Anurati\ Pro\ Regular\ copy.otf);
}
body
{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #00e1ff,
    0 0 21px #00ccff,
    0 0 42px #00ccff,
    0 0 82px #00ccff,
    0 0 92px #00ccff,
    0 0 102px #00ccff,
    0 0 151px #00ccff;
    font-family: "Anurati Pro";
    text-transform: uppercase;
}
.heading
{
    display: inline;
}
.button{
    background: transparent;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #00e1ff,
    0 0 21px #00ccff,
    0 0 42px #00ccff,
    0 0 82px #00ccff,
    0 0 92px #00ccff,
    0 0 102px #00ccff,
    0 0 151px #00ccff;
    border: 2px solid white;
}
.footer{
    background-color: transparent;
    line-height: 3;
    bottom: 0;
    position: fixed;
    text-align: center;
}
canvas{
    border: 3px solid rgb(177, 255, 255);
    border-radius: 25px;
    box-shadow: 
    0 0 3px #fff,
    0 0 5px #00e1ff,
    0 0 10px #00ccff,
    0 0 13px #00ccff,
    0 0 16px #00ccff,
    0 0 22px #00ccff,
    0 0 25px #00ccff,
    0 0 30px #00ccff;
    font-family: "Anurati Pro";
}
.close{
    background-color: gray;
    border-color: white;
}